
.bg-dark {
  background-color: #ec2127 !important;
  padding: 0px;

}

#logo{
  width: 400px;
  height: 80px;
  float: left;
  /* margin-left: 0px 0px 0px 30px; */
  position: relative;
  right: 28px;

}

