 <!-- Responsive navbar-->
 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" ></a>
      <img src="../../assets/9.png" id="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="bo">
              <li class="nav-item"><a class="nav-link active" aria-current="step" href="#!" routerLink="/home" routerLinkActive="active">Home</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="step"href="#!"routerLink="/Product" routerLinkActive="active">Product</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="step" href="#!"routerLink="/contact" routerLinkActive="active">ContactUs</a></li>
          </ul>
      </div>
  </div>
</nav> -->

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <img src="../../assets/9.jpg" id="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link active" aria-current="step" href="#!" routerLink="/home" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="step"href="#!"routerLink="/Product" routerLinkActive="active">Product</a></li>
         <li class="nav-item"><a class="nav-link active" aria-current="step" href="#!"routerLink="/contact" routerLinkActive="active">ContactUs</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
