<div id="back">
  <div>
    <header>
      <h1 style="color:#0b5ed7; margin-top: 100px;">
        Kiosks with Transformers
      </h1>
      <hr style="color: #0b5ed7  ; height: 2px; width: 525px; margin-left: 100px;"  >
    </header>
    <div  id="sl" >
      <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../assets/pro/current transformer/1.jpg" alt="Image One" >
                </div>
            <div class="swiper-slide">
                   <img src="../../assets/pro/current transformer/2.jpg" alt="Image Two" >
                </div>

            </div>
             <!-- Add Pagination -->
             <div class="swiper-pagination"></div>
             <!-- Add Arrows  -->
             <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
        <div class="container">
          <p>
            </p>
          </div>
    </div>
  </div>


</div>
