<body>
  <div>
    <header>
      <h1 style="color:#0b5ed7; margin-top: 100px;">
        OUR PRODUCTS:-
      </h1>
      <hr style="color: #0b5ed7  ; height: 2px; width: 300px;"  >
    </header>
  </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Kiosks with Transformers </h2>
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/p1.jpg" alt="..." /></div>
                  <h5 class="card-text">-The kiosk comprise of an enclosure containing medium voltage compartment</h5>

                  <h5> -distribution transformer compartment and low voltage compartment</h5>

                  <h5> -The enclosure is made of sheet steel</h5>

                  <h5> -painted with a light grey electrostatic powder painting</h5>

              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product1">More Info</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Air Insulated Medium voltage</h2>
                  <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/Air/12.jpg"  alt="..." ></div>
                  <h5 class="card-text">

                   -Rated Voltage:- 12KV or 24KV.</h5>

                   <h5>-Rated Current:- 630A.</h5>

                   <h5> -Short circuit current:- 25KA .</h5>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product2">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">SF6 Medium voltage RMU  </h2>
                  <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/p31.jpg" alt="..." /></div>
                  <h5 class="card-text">
                    Rated Voltage:- 12KV or 24KV.</h5>
                  <h5> Current:- 630A.</h5>

                   <h5> Short circuit current:- 25KA .</h5>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product3">More Info</a></div>
          </div>
      </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Low voltage distribution panels for transformers </h2>
              <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/low/1.jpg" alt="..." /></div>
                <h5 class="card-text">
                  -enclosure is made of sheet steel,</h5>
                  <h5>-It is painted with a light grey electrostatic powder painting</h5>
                  <h5>-the finish coat is grey color.</h5>
                </div>



            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product4">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pillar 18&21 base</h2>
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/pillar/2.jpg" alt="..." /></div>
                <h5 class="card-text">
                  MRZ manufactures 18 base pillar and 21 base pillar.</h5>
                  <h5>-The enclosure is made of sheet steel,</h5>
                  <h5>-is painted with a light grey electrostatic powder painting,</h5>
                  <h5>-the finish coat is grey color</h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product5">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title"> Cofree  250/400A </h2>
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/cofree/2.jpg" alt="..." /></div>
                <h5 class="card-text">
                  MRZ manufactures cofree The enclosure is made of sheet steel,</h5>
                 <h5> it is painted with a light grey electrostatic powder painting, </h5>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product6">More Info</a></div>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"> ATS Panels </h2>
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/ATS/3.jpg" alt="..." /></div>
              <h5 class="card-text">
               -MRZ manufactures ATS panel (1 out of 2 , 2 out of 3,…. ). </h5>
               <h5> -The enclosure is made of sheet steel,</h5>
               <h5> -it is painted with a light grey </h5>
          </div>

          <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product7">More Info</a>
          </div>
      </div>
  </div>
  <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">Voltage & Current Transformers</h2>
              <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/pro/current transformer/1.jpg" alt="..." /></div>
              <p class="card-text"></p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="/product8">More Info</a></div>
      </div>
  </div>

<!-- <footer><img src="../../assets/footer.jpg" alt="..." id="foot" > </footer> -->
