<div id="back">
  <div>
    <header>
      <h1 style="color:#0b5ed7; margin-top: 100px;">
        Pillar 18&21 base:-
      </h1>
      <hr style="color: #0b5ed7  ; height: 2px; width:25%; margin-left: 100px;"  >
    </header>
    <div  id="sl" >
      <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../assets/pro/pillar/2.jpg" alt="Image One" >
                </div>
            <div class="swiper-slide">
                   <img src="../../assets/pro/pillar/1.jpg" alt="Image Two" >
                </div>
            </div>
             <!-- Add Pagination -->
             <div class="swiper-pagination"></div>
             <!-- Add Arrows  -->
             <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
        <div class="container">
          <p>MRZ manufactures 18 base pillar and 21 base pillar. The enclosure is made of sheet steel,
            is painted with a light grey electrostatic powder painting, the finish coat is grey color.
             It is designed to accommodate different types and rating of High rupture capacity fuse with base and busbars.
              it is designed, built and tested according to the IEC 60439-1 standards.
               It's roof is slope to prevent accumulation of water ‎rain.‎
            </p>
          </div>
    </div>
  </div>


</div>
